body {
  background-image: url(../images/blue-wallpaper-2680270.jpg);
}

.navbar-brand {
  font-size: 35px;
  font-weight: bold;
  color: white;
  margin-left: 25px;
}

.navbar-nav {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: auto;
  margin-right: 50px;
}


.container {
  display: block;
  background-color: rgb(255, 234, 198);
  margin: 20px auto;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
}

.self-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

.image {
width: 100%;
height: 100%;
padding-top: 10px;
padding-bottom: 10px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 36px;
  border-bottom: 5px solid black;
  padding-bottom: 10px;
  padding-top: 10px;
}

form {
  width: 100%;
  height: 100%;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  display: inline-block;
  width: 90px;
}

input, 
textarea {
  font: 1em sans-serif;
  width: 300px;
  box-sizing: border-box;
  border: 1px solid #999;
}

input:focus, 
textarea:focus {
  border-color: #000;
}

textarea {
  vertical-align: top;
  height: 5em;
}

.button {
  padding-left: 90px;
}

button {
  margin-left: .5em;
}

footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
}